<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Método da Bissecção</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div id="app">
        <h1>Método da Bissecção</h1>
        <div class="expressao">
            f(x) =
            <input v-model="num5" type="number"> x<sup>5</sup> +
            <input v-model="num4" type="number"> x<sup>4</sup> +
            <input v-model="num3" type="number"> x<sup>3</sup> +
            <input v-model="num2" type="number"> x<sup>2</sup> +
            <input v-model="num1" type="number"> x +
            <input v-model="num" type="number">
        </div>
        <div class="epsilon">
            E = 10 <sup><input v-model="epsilon" type="number"></sup>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script>
        var app6 = new Vue({
            el: '#app',
            data: {
                num5: '',
                num4: '',
                num3: '',
                num2: '',
                num1: '',
                num: '',
                epsilon: '',
            },
            watch: {
                num5(data) {
                    console.log('num5', data);
                },
                num4(data) {
                    console.log('num4', data);
                },
                num3(data) {
                    console.log('num3', data);
                },
                num2(data) {
                    console.log('num2', data);
                },
                num1(data) {
                    console.log('num1', data);
                },
                num(data) {
                    console.log('num', data);
                },
            }
        });
    </script>
</body>

</html>